.hide {
    display: none;
}

.show{
    display: block;
}

#highScores{
    text-align: left;
    color:blue;
}

#timer{
    text-align:left;
}

.jumbotron{
    text-align: center;
    background-color: white;
}

#header{
    text-align: center;
}

#score{
    text-align: right;
}

#rules{
    text-align: center;
}
